<div class='col-md-12 spacer50'>&nbsp;</div>
<div class='col-md-12'>
  <ol class="progtrckr" id='progreso' data-progtrckr-steps="6">
    <li class="progtrckr-todo" data-step=1>Programa</li>
    <li class="progtrckr-todo" data-step=2>Datos</li>
    <li class="progtrckr-todo" data-step=3>Formación</li>
    <li class="progtrckr-todo" data-step=4>Otros</li>
    <li class="progtrckr-todo" data-step=5>Documentos</li>
  </ol>
</div>

<div class='col-md-12 spacer50'>
<!--  <h1 class='titulo1'>Formulario de postulación</h1>-->
  &nbsp;
</div>
<br />
<%= render 'form' %>

<!--
<%= link_to 'Back', postulations_path %>
-->
