<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Estimado/a postulante:
    <br />
    <br />
    Su postulación ha sido recibida por la Escuela de Posgrado, una vez revisados y confirmados los antecedentes nos pondremos en contacto con usted.
    <br />
    <br />
    Cualquier consulta, por favor dirigirse a la Secretaría de Postgrado del Programa.
    <br />
    <br />
    Le saluda atentamente,
    <br />
    <br />
    Escuela de Posgrado
    <br />
    Facultad de Artes
    <br />
    Universidad de Chile
  </body>
</html>