<div class='spacer50'>&nbsp;</div>
<div class='spacer50'>&nbsp;</div>
<div class='col-md-12'>
  <h4>Estimado/a :</h4>
  <div class='spacer25'>&nbsp;</div>
  <h4>Su solicitud ha sido recibida por la Escuela de Posgrado.</h4>
  <div class='spacer25'>&nbsp;</div>
  <h4>Le saluda atentamente,</h4>
  <div class='spacer25'>&nbsp;</div>
  <h4>Escuela de Posgrado</h4>
  <h4>Facultad de Artes</h4>
  <h4>Universidad de Chile</h4>
</div>